
/*Example one - Square Transition*/
.example-one {

}

.square-transition {
	height: 50px;
	width: 50px;
	background-color: #ff6200;
	border-radius: 4px;
	box-shadow: inset 0 0 .1px 4px #00c599;
	transition: all .75s ease;
}

.square-transition:hover {
	height: 65px;
	width: 65px;
	background-color: #00c599;
	box-shadow: inset 0 0 .1px 4px #ff6200;
	border-radius: 100%;
}
/*Example two - popout hover*/
.example-two {
	margin-top: 2em;
}

.main-drawer{ 
	margin-top: .25em;
	height: 2em;
	width: 10em;
	background-color: #5B5BD9;
	border-radius: .4em;
	box-shadow: .1em .1em .1em #272761;
	text-align: center;
	font-family: Helvetica;
	color: #fff;
	line-height: 2em;
	text-shadow: .05em .07em 0em  #4D4DBD;
	font-weight: bolder;
	transition: all .4s .1s ease;
}

.main-drawer:hover {
	padding-left:5em;
}

/*Example 3 - Click button menu */

.example-three {
	padding-top: 2em;
	
}

.click-button-menu {
	
	height: 2em;
	width: 10em;
	background-color: #5B5BD9;
	border-radius: .4em;
	text-align: center;
	font-family: Helvetica;
	color: #fff;
	line-height: 1.7em;
	text-shadow: .05em .07em 0em  #4D4DBD;
	font-weight: bolder;
	text-shadow: 0 -.05em .01em #272761;
	box-shadow: inset 0 -.25em 0 #272761,
					  -.05em .08em .1em rgb(111, 111, 126);
    transition: all .2s ease;    
   	cursor: default;
   	position: absolute;
   	bottom: 0;

}

.click-button-container {
	height: 2em;
	width: 10em;
	display: block;
	margin-bottom: .3em;
	position: relative;
}

.click-button-menu:hover {
	height: 1.86em;
	box-shadow: inset 0 -.15em 0 #272761,
				-.05em .08em .1em rgb(111, 111, 126);
}



/*Example 4 - Outward Outline*/
.example-four {
	margin-top: 2em;
}

.outline-button-menu {
	
	height: 2em;
	width: 10em;
	background-color: #5B5BD9;
	text-align: center;
	font-family: Helvetica;
	color: #fff;
	line-height: 2em;
	text-shadow: .05em .07em 0em  #4D4DBD;
	font-weight: bolder;
	text-shadow: 0 -.05em .01em #272761;
    transition: all .2s ease;    
   	cursor: default;
   	position: absolute;
   	bottom: 0;

}

.outline-button-container {
	height: 2.2em;
	width: 10.2em;
	display: block;
	margin-bottom: .5em;
	position: relative;
}

.outline-button-menu:hover {
	height: 2.2em;
	width: 10.2em;
	box-shadow: 0 0 0 .2em #fff,
				0 0 0 .4em #5B5BD9;
				
}



.example-five {
	margin-top: 2em;
}


.sonic{

	width:5em;
    height:5em;
    background:#5B5BD9;
    
    transition:all 0.6s ease;
}
/*.speedy {
	width: 25%;
}*/
.sonic:hover {
	-webkit-transform: rotate(90deg);
	
}

.speedy:hover .one {
	transition:all 0.9s ease;
	border-radius: 100%;
	margin-left: 22em;
}

.speedy:hover .two {
	transition:all 1.3s ease;
	margin-left: 14em;
	border-radius: 100%;
}

.speedy:hover .three {
	-webkit-transform: translate(5em);
	/*margin-left: 12em;*/
	border-radius: 100%;
}

/* Example six - Rotating squares */

.example-six {
	margin-top:2em;
}

.crazy {
	display: inline-block;
	width: 5em;
	height: 5em;
	background:#5B5BD9;
    margin-right: .9em;
    transition:all 1.9s ease;
}


.crazy:hover {
	-webkit-transform: rotate(360deg);
}

/*Example 7 - Monsters */

.example-seven {
	margin-top: 3em;
	height: 16em;
	width: 16em;
}

.monster {
	height: 15em;
	width: 15em;
	position: relative;
}
.monster-body {
	height: 10em;
	width: 10em;
	border-radius: 100%;
	position: relative;
	z-index: 5;
	background: #f9c667; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #f9c667 45%, #f79621 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(45%,#f9c667), color-stop(100%,#f79621)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #f9c667 45%,#f79621 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #f9c667 45%,#f79621 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #f9c667 45%,#f79621 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #f9c667 45%,#f79621 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



}

.monster-eye-one{
	height: 1em;
	width: .5em;
	background-color: black;
	border-radius: 110%;
	display: inline-block;
	margin-top: 2.65em;
	margin-left: 42%;
}

.monster-eye-two {
	height: 1em;
	width: .5em;
	background-color: black;
	border-radius: 110%;
	display: inline-block;
	margin-top: 2.65em;
	margin-right: 42%;
	float: right;
	
}

.monster-mouth {
	height: 1em;
	width: 5em;
	background-color: black;
	border-radius: .4em .4em 50% 50%;
	margin-top: 1.3em;
	margin-left: 21%;
	position: relative;
	z-index: 100;
	box-shadow: 0 0 0 .1em black;
}

/*.monster-tooth {
	height: .8em;
	width: .4em;
	background-color: #fff;
	border-radius: 45%;
	position: absolute;
	bottom: -2;
	left: 1.2em;
	z-index: -1;
}*/

.shadow {
	width: 7em;
	height: .55em;
	border-radius: 100%;
	background-color: rgba(0,0,0,.1);
	
	position: absolute;
	bottom:4.6em;


}

@-webkit-keyframes jabber {
	0%, 100% {height: 1em;}
	25% {height: 1.25em;}
	50% {height: 1.5em;}
	75% {height: 1.25em;}
}

@keyframes jabber{
	0%, 100% {height: 1em;}
	25% {height: 1.25em;}
	50% {height: 1.5em;}
	75% {height: 1.25em;}
}

@-webkit-keyframes shadowmove{
    
    0% {left: 5%}
    25% {left: 5.25%;}
    50% {left: 5.5%;}
    75% {left: 5.25%;}
    100% {left: 5%;}
}

@keyframes shadowmove{
    
    0% {left: 5%}
    25% {left: 5.25%;}
    50% {left: 5.5%;}
    75% {left: 5.25%;}
    100% {left: 5%;}
}

.shadow{
    -webkit-animation:shadowmove 4s infinite linear;
    animation:shadowmove 4s infinite linear;
}
  


@-webkit-keyframes monstertilt{
    
    0% {-webkit-transform: rotate(0deg); left: 0%}
    25% {-webkit-transform: rotate(7deg);left: 5.25%;}
    50% {-webkit-transform: rotate(0deg);left: 0%}
    75% {-webkit-transform: rotate(-7deg);left: -5.25%;}
    100% {-webkit-transform: rotate(0deg);left: 0%}
}

@keyframes {
    
    0% {transform: rotate(0deg); left: 0%}
    25% {transform: rotate(7deg);left: 5.25%;}
    50% {transform: rotate(0deg);left: 0%}
    75% {transform: rotate(-7deg);left: -5.25%;}
    100% {transform: rotate(0deg);left: 0%}
}


.monster-body {
	-webkit-animation:monstertilt 4s infinite linear;
    animation:monstertilt 4s infinite linear;
}

.monster-mouth {
	-webkit-animation:jabber .2s infinite linear;
    animation:jabber .2s infinite linear;
}


@webkit-keyframes monsterhover {
	 0% {transform: translateY(0)};
    50% {transform: translateY(1em)};
    100% {transform: translateY(2em)};

}

@keyframes monsterhover {
	0% {transform: translateY(0)};
    50% {transform: translateY(1em)};
    100% {transform: translateY(2em)};
}

.monster:hover{
		-webkit-animation:monsterhover .2s 1 linear;
	    animation:monsterhover .2s 1 linear;
}



/*Example 8 - click for inspiration */

.example-eight {
	margin-top: 2em;
	position: relative;
	
}



.input-field input {
	font-family: Helvetica;
	font-size: 14px;
	display: inline-block;
	

}

.lightbulb{

	display: inline-block;
	height: 1.6em;
	width: 1.6em;
	position: relative;
	margin-right: 25%;
	float: right;
	opacity: 0;
	
}

.lightbulb img {
	height: 1.3em;
	width: 1.6em;
	padding-top: .3em;
}
.inspiration {
	display: inline-block;
	opacity: 1;
}

input:focus ~ .inspiration {
	margin-left: 54.35%;
	opacity: 0;
	transition: margin-left 1.5s ease-in-out,
				opacity .1s 1.5s linear;
}

input:focus ~ .lightbulb {
	
	opacity: 1;
	transition: all .1s 1.5s linear;
}

/*Example nine - Sprite sheet */

.example-nine {
	margin-top: 2em;
}



.spelunky {
    width: 80px;
    height: 80px;
    display: inline-block;
    background-image: url(images/patrick-spelunky.png);
    -webkit-animation: play-x 1.8s steps(10) infinite,
    				   play-y 10.8s steps(10) infinite;
    		animation: play-x 1.8s steps(10) infinite,
    				   play-y 10.8s steps(10) infinite;
	 background-position-y: 0px;
}


@-webkit-keyframes play-x {
   from { background-position-x:    0px; }
     to { background-position-x: -800px; }
}

@keyframes play-x {
   from { background-position-x:    0px; }
     to { background-position-x: -800px; }
}

@-webkit-keyframes play-y {
   from { background-position-y:    0px; }
     to { background-position-y: -800px; }
}

@keyframes play-y {
   from { background-position-y:    0px; }
     to { background-position-y: -800px; }
}

.sonic-spelunky {
	width: 80px;
    height: 80px;
    display: inline-block;
    background-image: url(images/sonic.png);
    -webkit-animation: sonic-x 1.8s steps(11) infinite;
    		animation: sonic-x 1.8s steps(11) infinite;
	 background-position-y: -80px;
}


@-webkit-keyframes sonic-x {
   from { background-position-x:    0px; }
     to { background-position-x: -880px; }
}

@keyframes sonic-x {
   from { background-position-x:    0px; }
     to { background-position-x: -880px; }
}



/*Example ten */

.example-ten {
	margin-top: 2em;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 3s linear alternate infinite;
  		  animation: dash 3s linear alternate infinite;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }










